#canvas {
	width: 500px;
	height: 500px;
	border: solid 1px black;
}

.rectangle {
    border: 1px solid green;
}

body {
  margin: 0;
  padding: 0;    
}

.syw-hack-image-editor {
	margin: 0;
	padding: 0;

	.header {

	}

	.filters-holder {
		text-align: center;
		
		.filters {
			list-style-type: none;
			
			.filter {
				margin: 10px;
				display: inline-block;
			}
		}

		.reset-filters {
			margin: 5px;			
		}

		.presets {
			list-style-type: none;
			
			.preset {
				display: inline-block;
				margin-left: 5px;
			}
		}
	}

	.img-holder {
		text-align: center;
		height: auto;

		canvas {
			max-width: 80%;
		}

	}

	.crop-control, .save-image {
		text-align: center;
		margin: 10px;
	}
	
}
