#canvas {
	width: 500px;
	height: 500px;
	border: solid 1px black;
}

.rectangle {
    border: 1px solid green;
}

body {
  margin: 0;
  padding: 0;    
}

.syw-hack-image-editor {
	margin: 0;
	padding: 0;

	.header {

	}
	.img-holder {
		text-align: center;
		height: auto;

		#img-to-edit {
			max-width: 80%;
		}
	}			
	.filters-holder {
		width: 400px;

		.filters {
			list-style-type: none;
			
			.filter {
				display: inline-block;
			}
		}
	}
	.footer {

	}
}
