<div ng-controller="MainCtrl" class="row syw-hack-image-editor">
  <div class="header">
    
  </div>
  
  <div class="filters-holder">
    <button ng-click="applyFilters(5)">Apply Inc Filters</button>
    <button ng-click="applyFilters(-5)">Apply Dec Filters</button>
    <ul class="filters">
      <li class="filter" ng-repeat="filter in filters">
        <button ng-click="applyFilter(filter.id, filter.sliderValue, filter.actualValue, $index)">{{filter.name}}</button>
        <input type="range" min="-100" max="100" step="10" ng-model="filter.sliderValue" 
          ng-change="applyFilter(filter.id, filter.sliderValue-filter.actualValue, $index)" //>
        <span ng-bind="filter.value"></span>
      </li>
    </ul>

    <ul class="presets">
      <li class="preset" ng-repeat="preset in presets">
        <button ng-click="applyPreset(preset.id)">{{preset.name}}</button>
      </li>
    </ul>
    
    <button class='btn btn-info' ng-click='enableCropping()'>Enable Cropping</button>
    <button class='btn btn-info' ng-click='resetImage()'>Reset Image</button>
    
    <a download='img.png' ng-click='downloadImagePng()'>PNG Download</a>
    <a download='img.jpeg' ng-click='downloadImageJpeg()'>JPEG Download</a>
  </div>

  <div class="img-holder">
    <!-- <img id="img-to-edit" src="http://www.fs.usda.gov/Internet/FSE_MEDIA/stelprdb5199597.jpg" /> -->
    <div img-input-custom img-data='mainImageData' show-video='showVideo' show-canvas='showCanvas'></div>
    <canvas id="mainCanvas" ng-show="mainImageData != '' && !showVideo && showCanvas"></canvas>
    <!-- <canvas id='canvas' width='500' height='500'></canvas> -->
    <!-- <div id='mainCanvas'></div> -->
  </div>

  <div class="footer">
    <div ng-show='showCropPanel' class='crop-control'>
      <button class='btn btn-info' ng-click='performCrop()' >Perform Crop</button>
      <button class='btn btn-info'>Cancel</button>
    </div>
  </div>
</div>




<!-- <div class="header">
  <ul class="nav nav-pills pull-right">
    <li class="active"><a ng-href="#">Home</a></li>
    <li><a ng-href="#">About</a></li>
    <li><a ng-href="#">Contact</a></li>
  </ul>
  <h3 class="text-muted">sywhack_imgeditor</h3>
</div>

<div class="jumbotron">
  <h1>'Allo, 'Allo!</h1>
  <p class="lead">
    <img src="images/yeoman.png" alt="I'm Yeoman"><br>
    Always a pleasure scaffolding your apps.
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="#">Splendid!</a></p>
</div>

<div class="row marketing">
  <h4>HTML5 Boilerplate</h4>
  <p>
    HTML5 Boilerplate is a professional front-end template for building fast, robust, and adaptable web apps or sites.
  </p>

  <h4>Angular</h4>
  <p>
    AngularJS is a toolset for building the framework most suited to your application development.
  </p>

  <h4>Karma</h4>
  <p>Spectacular Test Runner for JavaScript.</p>
</div>

<div class="footer">
  <p>♥ from the Yeoman team</p>
</div> -->

