<div ng-controller="MainCtrl" class="syw-hack-image-editor">
  <div class="header">
    
  </div>
  <div class="img-holder">
    <!-- <img id="img-to-edit" src="http://www.fs.usda.gov/Internet/FSE_MEDIA/stelprdb5199597.jpg" /> -->
    <img id="img-to-edit" src="\images\Penguins.jpg" />
    <canvas id='canvas' width='500' height='500'></canvas>
    <!-- <div id='mainCanvas'></div> -->
  </div>

  <div class="filters-holder">
    <button ng-click="applyFilters()">Apply Filters</button>
    <!-- <ul class="filters">
      <li class="filter"></li>
    </ul> -->
  </div>
  <div class="footer">
    
  </div>
</div>




<!-- <div class="header">
  <ul class="nav nav-pills pull-right">
    <li class="active"><a ng-href="#">Home</a></li>
    <li><a ng-href="#">About</a></li>
    <li><a ng-href="#">Contact</a></li>
  </ul>
  <h3 class="text-muted">sywhack_imgeditor</h3>
</div>

<div class="jumbotron">
  <h1>'Allo, 'Allo!</h1>
  <p class="lead">
    <img src="images/yeoman.png" alt="I'm Yeoman"><br>
    Always a pleasure scaffolding your apps.
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="#">Splendid!</a></p>
</div>

<div class="row marketing">
  <h4>HTML5 Boilerplate</h4>
  <p>
    HTML5 Boilerplate is a professional front-end template for building fast, robust, and adaptable web apps or sites.
  </p>

  <h4>Angular</h4>
  <p>
    AngularJS is a toolset for building the framework most suited to your application development.
  </p>

  <h4>Karma</h4>
  <p>Spectacular Test Runner for JavaScript.</p>
</div>

<div class="footer">
  <p>♥ from the Yeoman team</p>
</div> -->

