<div class='img-input-custom' ng-mouseenter="onMouseEnter()" ng-mouseleave="onMouseLeave()" >
	<!-- <span class="icon-close_ico image-picker-delete" ng-click="onDelete()" ng-show="imageData != '' && hoveredState" title='Remove image'></span> -->
	<input type='file' accept="image/png, image/jpeg" 
	custom-on-change on-change-cb='onFileSelect(event)'/>
	<!-- <img ng-show="imgData != ''" ng-src="{{imgData}}" /> -->
	<div class='uploader-menu' ng-click="openFileSelect()">
		<div class="image-picker-icon"><span class="glyphicon glyphicon-upload"></span></div>
		<span class="image-picker-title">Upload Image</span>		
	</div>
	<div class='uploader-menu' ng-click="openWebcam()">
		<div class="image-picker-icon"><span class="glyphicon glyphicon-camera"></span></div>
		<span class="image-picker-title">Webcam Image</span>		
	</div>
	<div class='uploader-menu' ng-click="showUrlMode()">
		<div class="image-picker-icon"><span class="glyphicon glyphicon-globe"></span></div>
		<span class="image-picker-title">Image Url</span>		
	</div>
	<div class='video-container' ng-show='showVideo'>
		<video id='localVideo' style='height: 480px;'></video>
	  <div  ng-click='takeSnapshot()'>
	    <span class='glyphicon glyphicon-camera'></span>
	  </div>
	</div>
	<div class='url-container' ng-show='showUrlInput'>
		<input type='text' ng-model='imageUrl' />
		<button class='btn btn-primary' ng-click='loadImageFromUrl()'>Get Image</button>
	</div>
</div>