#canvas {
  width: 500px;
  height: 500px;
  border: solid 1px black;
}

.rectangle {
  border: 1px solid green;
}

body {
  margin: 0;
  padding: 0;
}

.syw-hack-image-editor {
  margin: 0;
  padding: 0;
}
.syw-hack-image-editor .filters-holder {
  text-align: center;
}
.syw-hack-image-editor .filters-holder .filters {
  list-style-type: none;
}
.syw-hack-image-editor .filters-holder .filters .filter {
  margin: 10px;
  display: inline-block;
}
.syw-hack-image-editor .filters-holder .reset-filters {
  margin: 5px;
}
.syw-hack-image-editor .filters-holder .presets {
  list-style-type: none;
}
.syw-hack-image-editor .filters-holder .presets .preset {
  display: inline-block;
}
.syw-hack-image-editor .img-holder {
  text-align: center;
  height: auto;
}
.syw-hack-image-editor .img-holder canvas {
  max-width: 80%;
}
.syw-hack-image-editor .crop-control, .syw-hack-image-editor .save-image {
  text-align: center;
  margin: 10px;
}
